@font-face {
    font-family: 'RethinkSans';
    src: url('./RethinkSans-Regular-BF657912272f089.woff2') format('woff2'),
         url('./RethinkSans-Regular-BF657912272f089.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RethinkSans';
    src: url('./RethinkSans-Medium-BF657912270969d.woff2') format('woff2'),
         url('./RethinkSans-Medium-BF657912270969d.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RethinkSans';
    src: url('./RethinkSans-SemiBold-BF657912271e146.woff2') format('woff2'),
         url('./RethinkSans-SemiBold-BF657912271e146.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RethinkSans';
    src: url('./RethinkSans-Bold-BF657912261fcc5.woff2') format('woff2'),
         url('./RethinkSans-Bold-BF657912261fcc5.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RethinkSans';
    src: url('./RethinkSans-ExtraBold-BF657912264cc18.woff2') format('woff2'),
         url('./RethinkSans-ExtraBold-BF657912264cc18.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }

button {
     color: blue !important;
}